.menuBack{
    z-index: 1;
}
.product__counter-coll{
    border: none !important;
    text-align: center;
}
.product__counter-coll {
    -moz-appearance: textfield; /* Для Firefox */
    appearance: textfield; /* Для других браузеров */
}

.product__counter-coll::-webkit-outer-spin-button,
.product__counter-coll::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.product__item{
    height: auto !important;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    padding: 0 !important;
}
.product__item_foot{
    display: flex;
    flex-direction: column;
    padding: 0 30px 22px;
}
.product__item a:nth-child(1){
    padding: 22px 30px 0;
}
.allProduct__wrapper{
    align-items: unset !important;
}
@media(max-width: 1440px)
{
    .category__box{
        margin-bottom: 40px !important;
    }
}
@media(max-width: 1200px){
    .product__item_foot{
        padding: 0 18px 14px;
    }
    .product__item a:nth-child(1){
        padding: 14px 18px 0;
    }
}
.product__quantity-item{
    cursor: pointer;
}
.category__wrapper{
    align-items: unset !important;
}
.product-image {
    transition: all 0.5s ease; /* Плавное переключение */
    height: auto !important;
    width: auto !important;
}
.coverbase__center-img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 628px;
    height: 600px;
}
@media (max-width: 1800px){
    .coverbase__center-img{
        width: 500px;
        height: 477px;
    }
}
input[type="number"] {
    width: 1.5em; /* Ширина поля ввода, примерно на одну цифру */
    padding: 0; /* Убираем внутренние отступы */
    background: none; /* Убираем фон */
    border: none; /* Убираем границу */
    appearance: textfield; /* Убираем стрелочки в некоторых браузерах */
    -moz-appearance: textfield; /* Убираем стрелочки в Firefox */
    text-align: center;
  }
  
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none; /* Убираем стрелочки в WebKit-браузерах (Chrome, Safari) */
    margin: 0; /* Убираем отступы вокруг стрелочек */
  }

  .splide__slide .product__item{
    height: 100% !important;
  }

  a{
    color: inherit;
  }

  .custom-field{
    text-transform: lowercase;
  }
  .delivery__label-input {
    width: 100% !important;
    height: 51px !important;
    border-radius: 20px !important;
    background-color: #eaedf3 !important;
    border: none !important;
    font-family: "SF Pro Regular", "sans-serif" !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 16.71px !important;
    color: #22323b !important;
}

form p{
    margin-bottom: 0 !important;
}
form .form-row{
    padding: 0 !important;
}
form .form-row label{
    line-height: unset !important;
}

form .form-row .required{
    display: none;
}

.woocommerce-message,
.woocommerce-error,
.woocommerce-info {
    display: none !important;
}
.checkout-message{
    display: none !important;
}
.woocommerce-additional-fields{
    display: none !important;
}

.woocommerce-checkout-review-order-table{
    display: none !important;
}

#place_order{
    display: none !important;
}

.pay__btn {
    font-family: "SF Pro Bold", "sans-serif" !important;
    font-weight: 700 !important;
    font-size: 20px !important;
    line-height: 23.87px !important;
    color: #fff !important;
    cursor: pointer !important;
    border: none !important;
    width: 372px !important;
    height: 62px !important;
    border-radius: 10px !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    margin-bottom: 25px !important;
    background: linear-gradient(121.88deg, #F0BE78 -4.48%, #C58347 36.98%, #5F3F22 76.8%) !important;
}
.pay__btn:disabled{
    cursor: not-allowed !important;
}
#payment{
    margin-bottom: 40px;

}

